
@if (profile) {
<h1>Hello, {{profile.username}}!</h1>
<h2>Avatar</h2>
<div class="profile-picture">
    <img [src]="apiUrl + '/user/' + profile.username + '/avatar'" alt="Profile Picture">
</div>
<input class="hidden" type="file" (change)="selectFile($event)" #fileselection>
<button class="option-button" (click)="openFileSelection()">
    Select file…
</button>

<button class="option-button option-button-blue" (click)="sendAvatar()"  [disabled]="!files">
    Send
</button>
<button class="option-button option-button-red" (click)="deleteAvatar()"  [disabled]="!profile.avatar">
    Delete
</button>
}
