header {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

header input[type="text"] {
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 200px;
}

.header-icons a {
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.main {
    padding: 20px;
    width: 100vw;
}

.search-container {
    margin: 0 20px;
    position: relative;
    display: inline-block;
}

.search-container .search-button {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-container:focus-within .search-button {
  display: block;
}
