<header>
    <div class="header-container">
        <div class="logo">Images</div>
        <div class="search-container">
          <input class="search" type="text" placeholder="Search" (keydown.enter)="search()" #searchInput>
          <button class="search-button" (click)="search()">🔍</button>
          <app-search-panel *ngIf="searchResults" [results]="searchResults"></app-search-panel>
        </div>
        <div class="header-icons" *ngIf="logged">
            <a routerLink="/" class="icon">🏠</a>
            <a routerLink="/priv" class="icon">✉️</a>
            <a routerLink="/upload" class="icon">➕</a>
            <a routerLink="/likes" class="icon">❤️</a>
            <a routerLink="/profile" class="icon">👤</a>
        </div>
        <div class="header-icons" *ngIf="!logged">
            <a routerLink="/login" class="icon">🔑</a>
        </div>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>
