<header>
    <div class="header-container">
        <div class="logo">Images</div>
        <input type="text" placeholder="Search">
        <div class="header-icons" *ngIf="logged">
            <a routerLink="/" class="icon">🏠</a>
            <a routerLink="/priv" class="icon">✉️</a>
            <a routerLink="/upload" class="icon">➕</a>
            <a routerLink="/likes" class="icon">❤️</a>
            <a routerLink="/profile" class="icon">👤</a>
        </div>
        <div class="header-icons" *ngIf="!logged">
            <a routerLink="/login" class="icon">🔑</a>
        </div>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>
