.hidden {
  display: none;
}

.option-button {
    padding: 8px 16px;
    margin: 10px 5px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.option-button:hover {
    background-color: #e0e0e0;
}

.option-button-red {
  background-color: #f66;
  color: #fff;
  border: none;
}

.option-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.option-button-red:disabled {
  background-color: #f99;
  cursor: not-allowed;
}
