
@for (message of messages; track message.id) {
<div class="message">
  <div class="profile-link">
    <img class="profile-picture" [src]="apiUrl + '/user/' + message.sender + '/avatar'" alt="Profile Picture">
    <a [routerLink]="'/profile/' + message.sender">{{message.sender}}</a>
  </div>
  <div class="content">
    {{message.content}}
  </div>
  <button class="option-button option-button-red" (click)="delete(message.id)">Delete</button>
  <button class="option-button" routerLink="/message" [queryParams]="{to: message.sender}">Reply</button>
</div>
} @empty {
<div class="empty">No messages</div>
}
