<div class="profile-section">
    <div class="profile-picture">
        <img src="https://loremflickr.com/320/240?lock=3333" alt="Profile Picture">
    </div>
    @if (user) {
    <div class="profile-info">
        <div class="profile-header">
            <h1>{{username}}</h1>
            <button>Edit Profile</button>
            <button [class.following]="following" (click) = "followClick()">
              {{ following ? "Unfollow" : "Follow"}}
            </button>
            <button>Message</button>
        </div>
        <div class="profile-stats">
            <div><strong>{{user.posts}}</strong> posts</div>
            <div><strong>{{user.followers}}</strong> followers</div>
            <div><strong>{{user.following}}</strong> following</div>
        </div>
        <div class="profile-bio">
            <p>{{user.description}}</p>
        </div>
    </div>
    }
</div>

<app-gallery [choice]="idForImageModal" [images]="images" (action)="onGalleryEvent($event)"></app-gallery>
