<div class="container">
    <div class="photo">
      <img [src]="apiUrl + '/image/' + id + '/file'">
    </div>
    <div class="details" *ngIf="image">
        <div class="profile-link">
            <img [src]="apiUrl + '/user/' + image.author + '/avatar'" alt="Profile Picture">
            <a [routerLink]="'/profile/' + image.author">{{image.author}}</a>
        </div>
        <div>
          Likes: {{image.likes}}
        </div>

        <div class="actions">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" (click)="likeClick()" [class.liked]="image.liked">
                <title>Like</title>
                <path d="M32 58s26-17 26-34c0-8-6-14-14-14s-12 8-12 8-4-8-12-8-14 6-14 14c0 17 26 34 26 34z" />
            </svg>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                <title>Comment</title>
                <path d="M32 2c16.6 0 30 11.6 30 26s-13.4 26-30 26c-4.8 0-9.4-.8-13.6-2.2L2 62l8-14.6C5.4 43.4 2 36.4 2 28 2 13.6 15.4 2 32 2z" />
            </svg>

            @if (image.owner) {
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" (click)="delete()">
              <title>Delete</title>
              <path d="M20 10h24v4H20zm-2 4v36c0 2.2 1.8 4 4 4h16c2.2 0 4-1.8 4-4V14h6v-4H12v4h6zM24 20h4v24h-4zm8 0h4v24h-4z" />
              <path d="M28 2h8v4h-8z" />
            </svg>
            }
        </div>
    </div>
</div>
