.container {
    display: flex;
    max-width: 871px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.photo {
    flex: 1;
}

.photo img {
    width: 100%;
    object-fit: cover;
}

.details {
    flex: 1;
    padding: 10px;
}

.profile-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-link img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.profile-link a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.actions svg {
    width: 24px;
    height: 24px;
    stroke: #000;
    fill: none;
    stroke-width: 4;
    cursor: pointer;
}

.actions svg.liked {
    fill: #ffcc00;
}

.option-button {
    padding: 8px 16px;
    margin: 10px 5px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.option-button:hover {
    background-color: #e0e0e0;
}

.comment {
  margin-top: 10px;
}
