/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
  margin: 0;
  padding: 40px;
}
