.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.posts-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 10px;
}

.post img {
    width: 100%;
    height: auto;
    display: block;
}

.empty {
  font-style: italic;
  color: #999;
}
